/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #bd7865;
}

.navbar-main {
  background-color: #8E402A;
}

.input-group {
  background-color: #8E402A;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
